body {
   background-color: #e6ffff;
   font-family: Agency FB;
   color: #000080;
   font-size: 18px;

}
h1 {
  text-align: center;
  border: 1px solid #000080;
  background: white;
  border-radius: 12px;
}
.userinput {
  visibility: hidden;
   padding: 5px 5px;
   margin: 8px 8px;
    display: inline-block;
    border: 1px solid #000080;
    border-radius: 12px;
    box-sizing: border-box;
}
.inputfromUser {
  margin-left: 45px;
}
.button:disabled {
  background-color:#CCC;
}

.navbar .navbar-brand {
  color:#000080;
}

.navbar {
  margin-bottom: 0px;
  border-bottom: 1px solid #000080;
}
.rowTop {
  
  padding: 0px;
}
.padding {
  padding: 0px;
  margin-left: -15px;
}

img {
  border-radius: 22px;
  border: 1px solid #000080;
  margin-left: 0px;
}
.row {
 
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.input {
    padding: 5px 5px;
   margin: 8px 8px;
    display: inline-block;
    border: 1px solid #000080;
    border-radius: 12px;
    box-sizing: border-box;
}
button#space {
  margin-left: 900px;
}
.button {
  background-color: #18cdf7; 
  border-radius: 12px;
  border: none;
  color: #000080;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
}
div#status {
  text-align: center;
}
div.row {
	
  padding: 40px;
  

}

div#log {
  text-align: center;
  
}

input#logon {
  
  visibility: hidden;
}
button#getData {
  margin-left: 100px;
}
button#data {
  margin-left: 15%;
}
ul#health {
  text-align: center;
  list-style-type: none;
}
h2 {
  padding: 0px 0px 0px 30px;
  text-align: center;
}



